@font-face {
  font-family: 'MyFont';
  src: url('./Mango Salsa.ttf'),
       url('./Albertho.otf');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'MyFont';
  background: url('./my-image.jpg');
}